*{
    margin:0;padding:0;box-sizing: border-box;letter-spacing: 2px;font-family:'Times New Roman';text-transform: capitalize;
}
body{
    min-height: 100vh;display: contents;align-items: center;justify-content: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(202, 202, 235) 0%, rgb(192, 192, 245) 35%, rgb(178, 228, 245) 100%);
}
.container{
    height: 500px;
    width: 100%;
    background: blanchedalmond;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgb(132, 206, 221);
    padding: 1em 2em;
}
.input{
    width: 100%;display: flex;align-items: center;justify-content: space-between;
}
#input{
    height: 50px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 6px;
    background:rgb(235, 185, 185);
    color: rgb(0, 47, 255);
    padding: 0 10px;
    margin: 15px 0;
}
#input::placeholder{
    color:rgb(216, 74, 110);
}
#add-btn{
    height: 30px;
    width: 30px;
    border: 0;
}
ul{
    background: darksalmon;color: chartreuse;height: 80%;border-radius: 5px;margin: 15px 0;padding: 10px;overflow-x: auto; overflow-y: hidden;
}
ul li{
    display: flex;justify-content: space-between;padding: 0;
}
ul .fa-check,.fa-trash{
    position: absolute;cursor: pointer;
}
ul .fa-check{
    right: 40px;
    color: green;
}
ul .fa-trash{
    right: 40px;
    color: red;
}
